<h1>Mục lục<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#by:-phân-chia-theo-nhóm" data-toc-modified-id="by:-phân-chia-theo-nhóm-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>by: phân chia theo nhóm</a></span></li><li><span><a href="#Sắp-xếp-theo-thứ-tự-tăng-dần" data-toc-modified-id="Sắp-xếp-theo-thứ-tự-tăng-dần-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Sắp xếp theo thứ tự tăng dần</a></span></li><li><span><a href="#Kết-hợp-giữa-by-và-sort" data-toc-modified-id="Kết-hợp-giữa-by-và-sort-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Kết hợp giữa by và sort</a></span></li><li><span><a href="#Khái-niệm-và-ứng-dụng-_n-và-_N" data-toc-modified-id="Khái-niệm-và-ứng-dụng-_n-và-_N-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Khái niệm và ứng dụng _n và _N</a></span></li><li><span><a href="#Các-quy-tắc-về-&quot;đúng/sai&quot;-trong-Stata" data-toc-modified-id="Các-quy-tắc-về-&quot;đúng/sai&quot;-trong-Stata-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Các quy tắc về "đúng/sai" trong Stata</a></span></li><li><span><a href="#Ví-dụ-một-số-trường-hợp-cụ-thể" data-toc-modified-id="Ví-dụ-một-số-trường-hợp-cụ-thể-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>Ví dụ một số trường hợp cụ thể</a></span></li><li><span><a href="#Kết-luận:" data-toc-modified-id="Kết-luận:-7"><span class="toc-item-num">7&nbsp;&nbsp;</span>Kết luận:</a></span></li></ul></div>

Tài liệu tham khảo:

https://journals.sagepub.com/doi/pdf/10.1177/1536867X0200200106

## by: phân chia theo nhóm

Ý tưởng đằng sau câu lệnh "by" là thực hiện 1 thao tác với dữ liệu cho riêng từng nhóm được xác định bởi một hoặc nhiều biến số. Ví dụ trong bộ số liệu auto.dta, nếu nhập câu lệnh: 

<b>by foreign: </b> <i>câu lệnh</i>

Câu lệnh trên sẽ thực hiện thao tác với số liệu cho từng nhóm đối tượng được xác định trong biến foreign.

In [2]:
sysuse auto, clear //Ví dụ với bộ số liệu auto
by foreign: sum mpg

(1978 Automobile Data)


--------------------------------------------------------------------------------
-> foreign = Domestic

    Variable |        Obs        Mean    Std. Dev.       Min        Max
-------------+---------------------------------------------------------
         mpg |         52    19.82692    4.743297         12         34

--------------------------------------------------------------------------------
-> foreign = Foreign

    Variable |        Obs        Mean    Std. Dev.       Min        Max
-------------+---------------------------------------------------------
         mpg |         22    24.77273    6.611187         14         41

## Sắp xếp theo thứ tự tăng dần

Sắp xếp bộ dữ liệu theo thứ tự tăng dần theo <i>varlist</i> (Một hoặc nhiều biến số).

Nếu varlist là biến dạng số thì sẽ sắp xép theo thứ tự từ bé đến lớn

Nếu varlist là biến dạng kí tự (string) thì sẽ sắp xếp theo thứ tự bảng mã ASCII

In [3]:
sort foreign
list make-mpg foreign in 1/5
sort mpg
list make-mpg foreign in 1/5

     +----------------------------------------+
     | make            price   mpg    foreign |
     |----------------------------------------|
  1. | AMC Concord     4,099    22   Domestic |
  2. | AMC Pacer       4,749    17   Domestic |
  3. | AMC Spirit      3,799    22   Domestic |
  4. | Buick Century   4,816    20   Domestic |
  5. | Buick Electra   7,827    15   Domestic |
     +----------------------------------------+



     +---------------------------------------------+
     | make                 price   mpg    foreign |
     |---------------------------------------------|
  1. | Linc. Continental   11,497    12   Domestic |
  2. | Linc. Mark V        13,594    12   Domestic |
  3. | Linc. Versailles    13,466    14   Domestic |
  4. | Merc. XR-7           6,303    14   Domestic |
  5. | Cad. Deville        11,385    14   Domestic |
     +---------------------------------------------+

## Kết hợp giữa by và sort

Có 2 cú pháp có thể sử dụng với by và sort:

ví du: 

sort foreign mpg

by foreign: command


bysort foreign mpg: command 

hoặc:

bysort foreign (mpg): command

## Khái niệm và ứng dụng _n và _N

In [4]:
clear
qui input byte bvar oldvar
1 1.1
1 2.1
1 3.1
2 4.1
2 5.1
end
list

. list

     +---------------+
     | bvar   oldvar |
     |---------------|
  1. |    1      1.1 |
  2. |    1      2.1 |
  3. |    1      3.1 |
  4. |    2      4.1 |
  5. |    2      5.1 |
     +---------------+

In [5]:
gen smalln = _n
gen bign   = _N
gen newvar = oldvar[1]

In [6]:
list

     +----------------------------------------+
     | bvar   oldvar   smalln   bign   newvar |
     |----------------------------------------|
  1. |    1      1.1        1      5      1.1 |
  2. |    1      2.1        2      5      1.1 |
  3. |    1      3.1        3      5      1.1 |
  4. |    2      4.1        4      5      1.1 |
  5. |    2      5.1        5      5      1.1 |
     +----------------------------------------+

In [7]:
// Thêm by và sort
drop smalln bign newvar
bys bvar: gen smalln = _n
bys bvar: gen bign   = _N
bys bvar: gen newvar = oldvar[1]

In [8]:
list

     +----------------------------------------+
     | bvar   oldvar   smalln   bign   newvar |
     |----------------------------------------|
  1. |    1      1.1        1      3      1.1 |
  2. |    1      2.1        2      3      1.1 |
  3. |    1      3.1        3      3      1.1 |
  4. |    2      4.1        1      2      4.1 |
  5. |    2      5.1        2      2      4.1 |
     +----------------------------------------+

In [9]:
clear
use http://www.stata-press.com/data/r15/gxmpl7.dta
list

     +--------------------------------------------------+
     |    state     region      x   marria~e   divorc~e |
     |--------------------------------------------------|
  1. |  ALABAMA      South   29.3        126         69 |
  2. |   ALASKA       West   26.1        133         88 |
  3. |  ARIZONA       West   29.2        111         73 |
  4. |      ARK      South   30.6        116         69 |
  5. |    CALIF       West   29.9         89         56 |
     |--------------------------------------------------|
  6. |     COLO       West   28.6        121         64 |
  7. |     CONN    N. East     32         84         43 |
  8. |     DELA      South   29.8         75         39 |
  9. |  FLORIDA      South   34.7        111         73 |
 10. |  GEORGIA      South   28.7        129         64 |
     |--------------------------------------------------|
 11. |   HAWAII       West   28.4        123         46 |
 12. |    IDAHO       West   27.6        142         70 |
 13. |      ILL   N. Centr   29.9         96         45 |
 14. |      IND   N. Centr   29.2        105         73 |
 15. |     IOWA   N. Centr     30         94         41 |
     |--------------------------------------------------|
 16. |   KANSAS   N. Centr   30.1        105         57 |
 17. |      KEN      South   29.1         89         46 |
 18. |       LO      South   27.4        103         43 |
 19. |    MAINE    N. East   30.4        107         55 |
 20. | MARYLAND      South   30.3        110         41 |
     |--------------------------------------------------|
 21. |     MASS    N. East   31.2         81         31 |
 22. |     MICH   N. Centr   28.8         94         49 |
 23. |     MINN   N. Centr   29.2         92         38 |
 24. |     MISS      South   27.7        111         55 |
 25. |  MONTANA       West     29        106         63 |
     |--------------------------------------------------|
 26. |       MS   N. Centr   30.9        111         56 |
 27. |    N CAR      South   29.6         79         48 |
 28. | N DAKOTA   N. Centr   28.3         93         33 |
 29. | N MEXICO       West   27.4        128         80 |
 30. |     N.J.    N. East   32.2         76         38 |
     |--------------------------------------------------|
 31. |     N.Y.    N. East   31.9         82         35 |
 32. |     NEBR   N. Centr   29.7         91         41 |
 33. |   NEVADA       West   30.2       1428        173 |
 34. |       NH    N. East   30.1        100         57 |
 35. |     OHIO   N. Centr   29.9         92         54 |
     |--------------------------------------------------|
 36. |       OK      South   30.1        154         80 |
 37. |   OREGON       West   30.2         87         67 |
 38. |     PENN    N. East   32.1         79         29 |
 39. |     R.I.    N. East   31.8         79         38 |
 40. |    S CAR      South   28.1        173         44 |
     |--------------------------------------------------|
 41. | S DAKOTA   N. Centr   28.9        127         41 |
 42. |     TENN      South   30.1        129         66 |
 43. |    TEXAS      South   28.2        128         68 |
 44. |     UTAH       West   24.2        116         53 |
 45. | VIRGINIA      South   29.8        113         44 |
     |--------------------------------------------------|
 46. |       VT    N. East   29.4        102         51 |
 47. |    W VIR      South   30.4         89         53 |
 48. |     WASH       West   29.8        116         69 |
 49. |     WISC   N. Centr   29.4         87         37 |
 50. |  WYOMING       West   27.1        146         85 |
     +--------------------------------------------------+

In [10]:
cap drop avgx
//Tính trung bình x theo vùng
bys region: gen avgx = sum(x)/_n // Trung bình cộng dồn theo từng region
list in 1/5
bys region: replace avgx = avgx[_N] // Giá trị cần tính là giá trị cuối cùng (_N)
list in 1/5

     +-------------------------------------------------------------+
     |    state     region      x   marria~e   divorc~e       avgx |
     |-------------------------------------------------------------|
  1. |   KANSAS   N. Centr   30.1        105         57       30.1 |
  2. |     IOWA   N. Centr     30         94         41      30.05 |
  3. |       MS   N. Centr   30.9        111         56   30.33333 |
  4. | N DAKOTA   N. Centr   28.3         93         33     29.825 |
  5. |     OHIO   N. Centr   29.9         92         54      29.84 |
     +-------------------------------------------------------------+

(46 real changes made)


     +-----------------------------------------------------------+
     |    state     region      x   marria~e   divorc~e     avgx |
     |-----------------------------------------------------------|
  1. |   KANSAS   N. Centr   30.1        105         57   29.525 |
  2. |     IOWA   N. Centr     30         94         41   29.525 |
  3. |       MS   N. Centr   30.9        111         56   29.525 |
  4. | N DAKOTA   N. Centr   28.3         93         33   29.525 |
  5. |     OHIO   N. Centr   29.9         92         54   29.525 |
     +-----------------------------------------------------------+

## Các quy tắc về "đúng/sai" trong Stata

Ngôn ngữ lập trình thống kê nào cũng có các quy tắc về điều kiện đúng sai khác nhau. Với Stata có 2 quy tắc về điều kiện đúng sai:

- Quy tắc 1: Đối với câu hỏi nhị phân, giá trị 0 = Sai/False, giá trị 1 = Đúng/True
- Quy tắc 2: Đối với biến định tính khác với nhiều hơn 2 giá trị 0 và 1. Giá trị 0 = Sai/False và tất cả các giá trị khác 0 = Đúng/True

Do 2 quy tắc trên của Stata, 2 câu lệnh dưới đây cho kết quả như nhau:

In [13]:
sysuse auto, clear
count if foreign == 1

(1978 Automobile Data)

  22

In [14]:
count if foreign

  22

Như vậy với Stata, count if foreign == 1 và count if foreign có kết quả đều bằng 22. Kết quả này chứng minh cho quy tắc số 1.

ví dụ tạo biến số mới từ biến mpg với giá trị mpg > 30

In [15]:
gen byte himpg = mpg>30

Với lệnh trên, những bản ghi nào thoả mãn điều kiện mpg>30 thì sẽ nhận giá trị = 1, còn lại sẽ nhận giá trị = 0 (bao gồm giá trị missing)

In [16]:
tab himpg

      himpg |      Freq.     Percent        Cum.
------------+-----------------------------------
          0 |         69       93.24       93.24
          1 |          5        6.76      100.00
------------+-----------------------------------
      Total |         74      100.00

## Ví dụ một số trường hợp cụ thể

Giả sử có một mẫu nghiên cứu, lấy mẫu ở nhiều thời điểm khác nhau để phân tích gen:

In [19]:
clear
input byte id str2 genotype
0 "vv"
0 "vv"
1 "vv"
1 "ww"
2 "ww"
2 "vv"
2 "ww"
end
list, sepby(id)

           id   genotype


     +---------------+
     | id   genotype |
     |---------------|
  1. |  0         vv |
  2. |  0         vv |
     |---------------|
  3. |  1         vv |
  4. |  1         ww |
     |---------------|
  5. |  2         ww |
  6. |  2         vv |
  7. |  2         ww |
     +---------------+

Yêu cầu: lập danh sách mẫu có kiểu gen khác nhau của cùng 1 người

In [20]:
bysort id (genotype): gen byte diff = genotype[1] != genotype[_N]
list, sepby(id)

     +----------------------+
     | id   genotype   diff |
     |----------------------|
  1. |  0         vv      0 |
  2. |  0         vv      0 |
     |----------------------|
  3. |  1         vv      1 |
  4. |  1         ww      1 |
     |----------------------|
  5. |  2         vv      1 |
  6. |  2         ww      1 |
  7. |  2         ww      1 |
     +----------------------+

## Kết luận:

Bài giới thiệu ngắn này đã trình bày khá chi tiết về cách sử dụng by trong Stata. Bên cạnh đó, giới thiệu về _n và _N cũng như các quy tắc của Stata về điều kiện đúng sai. "By" thường được sử dụng nhiều trong các bộ dữ liệu dạng mảng (panel data) để hoán chuyển dữ liệu.